p ::before {
  content: "GoIteens";
  font-size: 2.5em;
  text-align: center;
  color: yellow;
}
div {
  width: 30%;
  border-style: solid;
  text-align: center;
  margin: 21% auto;
  border-color: #25d9ad;
  border-width: 3px;
  font-family: sans-serif;
  color: grey;
}
p::first-letter {
  color: blue;
  font-size: 2.5em;
}
p::after {
  content: url ("/home/veronika/Документи/logo.png");
}
